.titleFoods {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
    padding: 31px 0 22px 0;
}
.breadcrumb li a {
    padding: 0;
    text-decoration: none;
    color: #4A81EB;
    font-size: 16px;
}
.breadcrumb {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
    letter-spacing: -0.02em;
}
.breadcrumb li:not(:first-child) {
    margin-left: 10px;
}
.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}
.sort span {
    color: rgba(51, 51, 51, 0.35);
}
.sort a {
    margin-left: 18px;
    color: #4A81EB;
    display: inline-block;
    text-decoration: none;
}
.sort a::after {
    content: '';
    display: block;
    margin-top: 5px;
    width: 0;
    height: 2px;
    background: #4A81EB;
    transition: width .3s;
}
.sort a:hover {
    color: black;
}
.sort a:hover::after {
    width: 100%;
    transition: width .7s;
}