.buttonPrimary {
    font-style: normal;
    color: white;
    background: #346AD3;
    border: none;
    cursor: pointer;
}
header {
    background:#F2F2F2;
    padding: 24px 108px;
}
.headerContainer {
    max-width: 1224px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.headerInput {
    position: relative;
    margin-right: 304px;
}
.headerInput input {
    width: 306px;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid rgba(51, 51, 51, 0.15);
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
}
.headerInput input::placeholder {
    text-align: center;
    color: rgba(51, 51, 51, 0.35);
    font-size: 16px;
    position: absolute;
    margin: auto;
    font-weight: 400;
    top: 30%;
    left: 0;
    right: 0;
}
.headerInput input:focus::placeholder {
    color: transparent;
    border: none;
}
.headerInput button {
    position: absolute;
    width: 88px;
    height: 48px;
    left: 304px;
    font-size: 16px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
    transition-duration: 1s;
}
.headerInput button:hover {
    background: #318CE7;
}
.headerBucket {
    width: 112px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
}
.headerBucket span {
    font-size: 12px;
    line-height: 14px;
    padding: 0px 1px 0px 0;
    color: rgba(51, 51, 51, 0.35);
}
.headerBucket img {
    padding: 15px 15px 15px 15px;
}