.buttonPrimary {
    font-style: normal;
    color: white;
    background: #346AD3;
    border: none;
    cursor: pointer;
}
.cardBlue {
    background: #EBF5FB;
}

.cardGreen {
    background: #E8F6F5;
}

.cardYellow {
    background: #FAF1E1;
}

.card {
    position: relative;
    cursor: pointer;
    width: calc(25% - 24px);
    margin: 24px 12px 0 12px;
    height: 472px;
    padding: 24px;
    border-radius: 4px;
}

.card:hover {
    box-shadow: 0px 15px 38px rgba(120, 143, 188, 0.4);
}

.cardTitle {
    text-align: center;
}

.cardTitle h4 {
    color: #333333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    letter-spacing: -0.03em;
    font-size: 18px;
}

.cardTitle p {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
    font-family: Lato-regular;
    color: rgba(51, 51, 51, 0.5);
}

.card > img {
    max-width: 236px;
    max-height: 236px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardTitle button {
    margin-top: 13px;
    display: inline-flex;
    padding: 8px 10px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #67C53B;
    box-sizing: border-box;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.cardTitle span {
    font-family: Lato-regular;
    font-size: 14px;
    letter-spacing: -0.03em;
    margin-left: 7px;
}

.areaBlock {
    width: 100%;
    position: absolute;
    font-size: 18px;
    left: 0;
    top: 340px;
    margin-top: 15px;
    text-align: center;
    color: #333333;
}
.cardCount {
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 24px;
    display: flex;
}

.cardCount input {
    height: 48px;
    width: 100%;
    text-align: center;
    font-size: 26px;
    border: none;
    padding: 0;
}

.myBtn {
    width: 100%;
    padding: 14px;
    border-radius: 4px;
    font-size: 16px;
    position: relative;
    z-index: 2;
    transition-duration: 1s;
}
.myBtn:hover {
    background: #318CE7;
}
.minus, .plus {
    width: 48px;
    height: 48px;
    background: #F2F2F2;
    border: none;
    color: rgba(51, 51, 51, 0.25);
    display: inline-block;
    text-align: center;
    font-size: 40px;
}

.minus:hover, .plus:hover {
    background: #346AD3;
    color: white;
}

.minus {
    top: 5px;
    border-right: 2px solid #E5E5E5;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

.plus {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 2px solid #E5E5E5;
    cursor: pointer;
}
.link{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    cursor: pointer;
    z-index: 1;
}