
@font-face {
    font-family: "Lato";
    src: url("../src/fonts/Lato/Lato-Bold.ttf");
}
@font-face {
    font-family: "Lato-regular";
    src: url("../src/fonts/Lato/Lato-Regular.ttf");
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
}
* {
    box-sizing: border-box;
    font-family: Lato;
    color: #333333;
}
*:focus {
    outline: none;
}
main {
    max-width: 1440px;
    padding: 0 108px 143px 108px;
    margin: 0 auto;
    min-height: 100%;
}