
@font-face {
    font-family: "Lato";
    src: url("../src/fonts/Lato/Lato-Bold.ttf");
}
@font-face {
    font-family: "Lato";
    src: url("../src/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Sans_Caption";
    src: url("../src/fonts/PT_Sans_Caption/PTSansCaption-Bold.ttf");
}
body {
    width: 100%;
}
* {
    box-sizing: border-box;
    font-family: Lato;
}
main {
    min-width: 1224px;
    padding: 0 108px;
}